@{
    ViewData["Title"] = "Cart";
}

@using APFood.Models.Cart
@model CartViewModel

<section class="h-100 h-custom">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card-registration card-registration-2">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            @if (Model.CartItems.Any())
                            {
                                <div class="col-lg-8 p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h1 class="text-black">Cart</h1>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Item</th>
                                                    <th scope="col">Unit Price</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col" colspan="2">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.CartItems)
                                                {
                                                    <tr>
                                                        <td class="align-middle">
                                                            <div class="col-3 d-flex align-items-center">
                                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img5.webp"
                                                                     class="img-fluid rounded-3" alt="Cotton T-shirt" style="max-width: 3.5rem">
                                                                <h6 class="ms-3">@item.Food.Name</h6>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle">
                                                            <h6>RM @item.Food.Price</h6>
                                                        </td>
                                                        <td class="align-middle">
                                                            <div class="d-flex">
                                                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                                        onclick="updateQuantity(@item.Id, -1)">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                                <input id="quantity-@item.Id" min="1" name="quantity" value="@item.Quantity" type="number"
                                                                       disabled style="width: 3rem" class="form-control form-control-sm" />
                                                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-link px-2"
                                                                        onclick="updateQuantity(@item.Id, 1)">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                        <td class="align-middle">
                                                            <h6 id="item-price-@item.Id">RM @(item.Food.Price * item.Quantity)</h6>
                                                        </td>
                                                        <td class="align-middle">
                                                            <a class="text-muted" role="button" onclick="removeItem(@item.Id)">
                                                                <i class="fas fa-trash-can"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="col-lg-4 bg-grey">
                                    <div class="p-5 pt-0 pt-lg-5">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span>Order Details</span>
                                        </h4>
                                        <form asp-controller="Cart" asp-action="Index" method="post">
                                            <div class="mb-3">
                                                <label class="mb-2" for="dine-in-option">Dine-in Option</label>
                                                <select class="form-select" id="dine-in-option" asp-for="CartForm.DineInOption"
                                                        onchange="updateDineInOption()">
                                                    <option value="Pickup">Pick-up</option>
                                                    <option value="Delivery">Delivery</option>
                                                </select>
                                                <span asp-validation-for="CartForm.DineInOption" class="text-danger"></span>
                                            </div>
                                            <div id="location-form-field" class="mb-3">
                                                <label class="mb-2" for="location">Location</label>
                                                <input class="form-control" id="location" asp-for="CartForm.Location"
                                                       placeholder="e.g. B04-07" />
                                                <span asp-validation-for="CartForm.Location" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" 
                                                           asp-for="CartForm.IsUsingRunnerPoints" 
                                                           id="is-using-runner-points" onchange="updateRunnerPoints()">
                                                    <label class="form-check-label" for="is-using-runner-points">
                                                        Redeem 
                                                        <span id="runner-points">@Model.OrderSummary.RunnerPointsRedeemed</span>
                                                        Runner Point
                                                    </label>
                                                </div>
                                            </div>

                                            <hr class="my-4">

                                            <ul class="list-group mb-0">
                                                <li class="d-flex justify-content-between">
                                                    <p>Subtotal</p>
                                                    <p id="subtotal">@Model.OrderSummary.Subtotal.ToString("C")</p>
                                                </li>
                                                <hr class="mb-4">
                                                <li class="d-flex justify-content-between">
                                                    <p>Delivery Fee</p>
                                                    <p id="delivery-fee">@Model.OrderSummary.DeliveryFee.ToString("C")</p>
                                                </li>
                                                <li class="d-flex justify-content-between" id="runner-points-container">
                                                    <p>Runner Points Redeemed</p>
                                                    <p id="runner-points-redeemed">
                                                        - @Model.OrderSummary.RunnerPointsRedeemed.ToString("C")
                                                    </p>
                                                </li>
                                                <hr class="mb-4">
                                                <li class="d-flex justify-content-between">
                                                    <h5 class="fw-bold">Total</h5>
                                                    <h5 id="total" class="fw-bold">@Model.OrderSummary.Total.ToString("C")</h5>
                                                </li>
                                            </ul>
                                            <hr class="my-4">
                                            <button type="submit" class="btn btn-primary btn-block w-100">Proceed to Payment</button>
                                        </form>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="text-center mt-5">
                                    <h3 class="fw-bold">Your cart is empty</h3>
                                    <a href="#" class="mt-2 d-inline-block btn btn-dark btn-lg">Browse Food</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/cart.js"></script>
}
