@using APFood.Constants
@using APFood.Constants.Order
@model APFood.Models.Order.OrderViewModel
@{
    ViewData["Title"] = "Order";
    string IsActive(OrderStatus status) => Model.CurrentStatus == status ? "active" : "";
    var statuses = Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>();
}

<div class="container my-5">
    <div class="row mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="text-start fs-2">Order</h1>
            @if (!Model.IsAdmin)
            {
                <div class="d-flex align-items-center">
                    <i class="fa-regular fa-circle-question d-block me-2" data-toggle="tooltip" data-placement="left"
                       title="The runner points can be earned by delivering food order and can be used to offset your
                      payment amount when buying food"></i>
                    <p class="mb-0">Total Runner Points Spent: <strong>@Model.TotalPointsSpent</strong></p>
                </div>
            }
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="orderTabs" role="tablist">
                @foreach (var status in statuses)
                {
                    <li class="nav-item">
                        <a class="nav-link @(IsActive(status))" href="/Order?status=@(status)">
                            @status <span class="badge bg-primary">@Model.OrderCounts[status]</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content" id="orderTabsContent">
                @if (Model.OrderList.Count == 0)
                {
                    <div class="tab-pane fade show active" id="emptyState" role="tabpanel">
                        <p class="text-muted">No @Model.CurrentStatus orders found.</p>
                    </div>
                }
                else
                {
                    <div class="tab-pane fade show active" id="processing" role="tabpanel" aria-labelledby="processing-tab">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Time</th>
                                    <th>Queue Number</th>
                                    <th>Dining Option</th>
                                    <th>Total Paid</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var order in Model.OrderList)
                                {
                                    <tr>
                                        <td>@order.OrderId</td>
                                        <td>@order.OrderTime.ToString("g")</td>
                                        <td>@order.QueueNumber</td>
                                        <td>@order.DineInOption</td>
                                        <td>@order.TotalPaid.ToString("C")</td>
                                        <td class="d-flex">
                                            <a class="btn btn-sm btn-outline-primary me-2" href="/Order/@order.OrderId">View</a>
                                            @if (order.IsReceivableOrder)
                                            {
                                                <form method="post" asp-controller="Order" asp-action="ReceiveOrder">
                                                    <input type="hidden" name="orderId" value="@order.OrderId" />
                                                    <button type="submit" class="btn btn-sm btn-outline-success">Received</button>
                                                </form>
                                            }
                                            @if (@order.IsCancellableOrder)
                                            {
                                                <form method="post" asp-controller="Order" asp-action="CancelOrder">
                                                    <input type="hidden" name="orderId" value="@order.OrderId" />
                                                    <button type="submit" class="btn btn-sm btn-outline-danger">Cancel Order</button>
                                                </form>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/shared/bootstrap.js"></script>
}
